Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -readability-qualified-auto,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -modernize-use-nodiscard,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -concurrency-mt-unsafe,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -portability-avoid-pragma-once,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -bugprone-easily-swappable-parameters,
  -cert-msc51-cpp,
  -cert-msc32-c,
  -bugprone-random-generator-seed,
CheckOptions:
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: 'm_'
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/(Core|Model|IO|Solver|Validation)/.*'
